@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');
.Container{
    display: flex;
    background-color: #f1f5f8;
    min-height: 100vh;
    
}
.SubContainer{
    background-color:#31465a;
    padding-top: 100px;
    width: 40%;
    padding-left: 140px;
    padding-bottom: 40px;
    padding-right: 30px;
}
.image{
    border-radius: 50%;
    background-color:#31465a;
    height: 40vh;
    
}
.hail, h3{
    color: white;
}
.Contact{
    padding-left: 55px;
    color: #89ccc1;
}
.Phone{
    color: white
}
.link{
    color: white
}
.like{
    padding-right: 20px;
}
.About{
    padding-left: 250px;
}
.text{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.groot{
    padding-left: 250px;
}
.HighSchool{
    padding-left: 250px;
}
.Higher{
    padding-left: 250px;
}
.Bethel{
    color: black;
    padding-left: 250px;
}
.DonBosco{
    color: black;
    padding-left: 250px;
}
.BD{
    color: black;
    padding-left: 250px;
}
.Alx{
    color: black;
    padding-left: 250px;
}